@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 13, 9;
  --background-rgb: 249, 249, 249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 176, 176, 176;
    --background-rgb: 14, 13, 9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Styles personnalisés */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1400px;
  }
}

/* Style pour les liens de navigation */
a:hover {
  transition: all 0.2s ease-in-out;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
